/* credential section start */
.credential_section {
    min-height: 75vh;
    padding: 75px 15px;
    background: #F5F5F5;
}
.credential_section .credential_area {
    max-width: 460px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
}
.credential_section .credential_area .credential_header {
    display: flex;
    text-align: center;
    background: #000C0E;
    border-radius: 0;
}
.credential_section .credential_area .forgot_title {
    background: #078593;
    display: inline-block;
    color:  #fff;
    height: 56px;
    margin:  0;
    line-height: 56px;
    width:  100%;
    font-size: 16px;
    text-transform: uppercase;
}
.credential_section .credential_area .credential_header a {
    padding: 0 20px;
    color: #374957;
    height: 64px;
    line-height: 64px;
    background: #fff;
    width: 50%;
    display: inline-block;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    transition: all .2s;
}
.credential_section .credential_area .credential_header a:first-child {border-right: none;}
.credential_section .credential_area .credential_header a:last-child {border-left: none;}
.credential_section .credential_area .credential_header a.active {
    border-color: #078593 !important;
    background: #078593 !important;
    color: #fff;
}
.credential_section .credential_area .credential_header a:hover {
    border-color: #055962;
    background: #055962;
    color: #fff;
}
.credential_section .credential_area .credential_body {padding: 30px 0 0;}
.credential_section .credential_area .credential_body form {padding: 0 8%;}
.credential_section .credential_area .credential_body .form-group .form-control {
    border-radius: 2px;
    font-size: 16px;
    box-shadow: none;
    padding: 22px 15px;
    outline: none;
    color: #000;
}
.credential_section .credential_area .credential_body .form-group .form-control:focus {border-color: rgba(0, 0, 0, 0.35);}
.credential_section .credential_area .credential_body .form-group ::-webkit-input-placeholder {color: rgba(0, 0, 0, 0.5);}
.credential_section .credential_area .credential_body .form-check {
    justify-content: space-between;
    font-size: 15px;
    margin: 12px 0;
    user-select: none;
    align-items: center;
    display: flex !important;
}
.credential_section .credential_area .credential_body .form-check input {
    cursor: pointer;
    margin-top: 3px;
}
.credential_section .credential_area .credential_body .form-check label {
    cursor: pointer;
    font-weight: 400;
}
.credential_section .credential_area .credential_body .form-check a {
    font-size: 15px;
    color: #078593;
}
.credential_section .credential_area .credential_body .form-check a:hover {text-decoration: underline;}
.credential_section .credential_area .credential_body .btn {
    background: #078593;
    box-shadow: none;
    outline: none;
    padding: 12px 20px;
    font-size: 15px;
    border: none;
    width: 100%;
    color: #fff;
    border-radius: 2px;
    transition: all 0.2s;
}
.credential_section .credential_area .credential_body .btn:hover {background: #055962;}
.credential_section .credential_area .credential_footer {
    display: inline-block;
    padding: 25px 8%;
    width: 100%;
    text-align: center;
    background: #fff;
    border-top: 1px solid #eee;
    border-radius: 0;
    text-align: center;
}
.credential_section .credential_area .credential_footer p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    margin: 0;
}
.credential_section .credential_area .credential_footer a {
    color: #078593;
    font-size: 15px;
}
.credential_section .credential_area .credential_footer a:hover {text-decoration: underline;}